@model TelefonskiImenik.Web.ViewModels.KontaktViewModel
@using System.Activities.Expressions
@using System.Web.Script.Serialization

@{
    ViewBag.Title = "Brisanje kontakta";
}

@{ string data = new JavaScriptSerializer().Serialize(Model);}

@section scripts{
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/kontaktviewmodel.js"></script>
    <script type="text/javascript">
        var kontaktViewModel = new KontaktViewModel(@Html.Raw(data));
        ko.applyBindings(kontaktViewModel);
    </script>
}

@Html.Partial("_Prikazi")


<p><button data-bind="click: spremi">Izbriši</button></p>